.about {
  .map {
    max-width: 100%;
    height: 430px;
    margin-top: 30px;

    background: url('/static/Images/map.png');

    background-repeat: repeat;
    background-position: center;
    background-size: contain;

  }

  .mainContent {
    padding: 0 100px;
    display: flex;
    gap: 30px;
margin-bottom: 100px;
margin-top: 100px;
@media only screen and (max-width: 992px) {
  // flex-direction: column;
  padding: 0 16px;
  margin-top: 0 !important;

}
    .content-left {
      width: 100%;
      margin-top: 30px;
      .top{
        display: flex;
        gap: 30px;
        align-items: flex-start;
        @media only screen and (max-width: 768px) {
          flex-direction: column;
          // padding: 0 16px;

        }
        .content-right-small{
          display: none;
          width: 50%;
          @media only screen and (max-width: 768px) {
            width: 100%;
           
  
          }
          .model{
            width: 100%;
            // height: 200px;
            height: 100%;
            object-fit: cover;
            @media only screen and (max-width: 768px) {
              width: 325px;
              height: 100%;
              margin: auto;
              display: block;
             
    
            }
    
          }
          @media only screen and (max-width: 768px) {
            display: block;

          }
        }

        .left{
 width: 60%;
 .text-content{
   font-family: "lovelace";
   @media only screen and (max-width: 600px) {
    font: normal normal bold 24px/45px "lovelace";
  
  }
 }
 @media only screen and (max-width: 768px) {
  width: 100%;

}
 
        }
        .content-right {
          width: 40%;
          .model{
            width: 100%;
            // height: 200px;
            height: 100%;
            object-fit: contain;
    
          }
          @media only screen and (max-width: 768px) {
            display: none;

          }
          }
      }
      // display: flex;
      .middleContent{
        padding-left: 100px;
        margin-top: 60px;
        width: 80%;
        @media only screen and (max-width: 992px) {
          //    display: none;
         width: 100%;
         padding-left: 0;
          
            }
        .text{
          margin-top: 30px;
          text-align: left;
font: normal normal normal 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
@media only screen and (max-width: 600px) {
  font: normal normal normal 16px/35px $Montserrat;

}


        }
      }
     
  
  
      // }
    }

    

  }
  .koizai-meaning{
    padding-top: 80px;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    .inner{
      padding-left: 220px;
      @media only screen and (max-width: 768px) {
       padding:0 16px;
      }
      .text-content{
        font-family: "lovelace";
        width: 30%;
        @media only screen and (max-width: 600px) {
          width: 100%;
          // font: normal normal normal 16px/35px $Montserrat;
        
        }
      }

    }
    .subtext{

text-align: left;
font: normal normal normal 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
margin-top: 20px;
    }
    .meaning{
      margin-top: 20px;
      width: 100%;
      padding-left: -220px !important;
    //  border: 1px solid red;
      height: 518px;
      object-fit: contain;
      // border: 1px solid red;
     
    }
    .images-meaning{
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      padding-bottom: 50px;
      @media only screen and (max-width: 768px) {
        padding-bottom: 300px;
    
      }
      // gap: 20px;
      .textMeaning-1{
        position: absolute;
        // display: none;
        left: 300px;
        top: 50%;
z-index: -1;
width: 200px;
transition: all .5s ease-in-out;

        // height: 100%;
        transform: translate(-50%,-50%);
        text-align: left;
font: normal normal normal 18px/23px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;


  @media only screen and (max-width: 768px) {
    // bottom: -100%;
  top: 70%;
  // bottom: -10%;


  }
  @media only screen and (min-width: 1400px) {
    left: 300px !important;
    
    }





      }
      .textMeaning-2{
        position: absolute;
        right:-10px;
        top: 50%;
        // display: none;
        width: 200px;
        z-index:-1;
        
        transition: all .5s ease-in-out;
        // height: 70%;
        transform: translate(-50%,-50%);
        text-align: left;
font: normal normal normal 18px/23px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;

@media only screen and (max-width: 768px) {
  top: 70%;

}
@media only screen and (min-width: 1400px) {
  right: 100px !important;
  
  }
      }

      img{
        width: 400px;
height: 100%;
width: 500px;
// border: 1px solid red;
object-fit: cover;
height: 500px;
cursor: pointer;
@media only screen and (max-width: 992px) {
  //    display: none;
  width: 300px;
  height: 300px;
  
    }
    @media only screen and (max-width: 768px) {
      width: 250px;
      height: 250px;
      }
      @media only screen and (max-width: 400px) {
        width: 200px;
        height: 200px;
        }
    

      }
      .head{
        text-align: left;
font: normal normal 500 42px/55px $Montserrat;
letter-spacing: 0px;
color: #505050;
opacity: 1;
margin-bottom: 20px;
&.head-first{
  color:#ED2929;
}
&.head-second{
color: #D7B615;
}
      }
      .img-2{
        &:hover{
          .textMeaning-2{
            display: block;
            right: -110px;
            z-index: 1;
          }
        }
      }
      .img-1{
        

        &:hover{
          .textMeaning-1{
            display: block;
            left: 150px;
            z-index: 1;

     
          }
        }
      }
     
    }
  }
  .associates{
    background: transparent linear-gradient(180deg, #FFFFFF00 0%, #EDF1F8 100%) 0% 0% no-repeat padding-box;
    padding-left: 220px;
    margin-top: 150px;
    @media only screen and (max-width: 768px) {
      padding: 0 16px;

    }
    .text-content{font-family: "lovelace";}
    .text-content{
      @media only screen and (max-width: 768px) {
        width: 100%;


      }
      @media only screen and (max-width: 600px) {
        font: normal normal bold 30px/46px "lovelace";

      }
    }
    .subtext{

      text-align: left;
      font: normal normal normal 24px/35px $Montserrat;
      letter-spacing: 0px;
      color: #848484;
      opacity: 1;
      margin-top: 20px;
      padding-bottom: 10px;
      width: 30%;
      @media only screen and (max-width: 768px) {
        font: normal normal bold 30px/46px $Montserrat;
        width: 100%;


      }
      @media only screen and (max-width: 600px) {
        font: normal normal normal 18px/35px $Montserrat;
 
       }
          }
         

  }
}
.images-associates{
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  padding: 0 9px;
  // padding-right: 100px;
  // border: 1px solid red;
  flex-flow:wrap;
  
  
  align-items: center;
  justify-content: center;
  gap: 30px;
  @media only screen and (max-width: 768px) {
    padding-right: 0;

  }
  img{
    height: 82px;
object-fit: contain;
min-width: 200px;
  }

}


// our story section
.ourStory{
  // border: 1px solid red;
  .title{
    // display: block;
    text-align: center;
    margin: auto;
    // text-align: left;
font: normal normal 400 72px/82px $Montserrat;
letter-spacing: 0px;
color: #505050;
margin-top: 50px;
opacity: 1;
  }
  .how-name{
    text-align: center;
    display: block;
    margin-top: 50px;
  }
  .text-content{
    text-align: center;
    font-family: "lovelace";
    display: block;
    width: 100% !important;
    margin-top: 20px;
  @media only screen and (max-width: 992px) {
    margin-bottom: 40px;

  }


  }
}

// time line
.events{
  // border: 1px solid red;
  display: flex;
  margin: 0 180px;
  flex-direction: column;
  @media only screen and (max-width: 992px) {
   margin: 0;
   padding: 0 16px;
    }
position: relative;
margin-top: 30px;
.koifish{
  width: 158px;
height: 263px;
left: 50%;
top: 50%;
position: absolute;
transform: translate(-50%,-50%);

  @media only screen and (max-width: 768px) {
   display: none;
  }


}

.year{
  background: #6C8EC5 0% 0% no-repeat padding-box;
box-shadow: 0px 12px 26px #6C8EC594;
border-radius: 30px;

opacity: 1;
margin: auto;
padding: 14px 70px;
font: normal normal 450 26px/31px $Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;

  @media only screen and (max-width: 768px) {
    margin: 0;
   margin-right: auto !important;
  }


}
.dot-top{
  position: absolute;
  width: 15px;
  top: 0%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 15px;
  border-radius: 50%;
  background: #6C8EC5 0% 0% no-repeat padding-box};
  
.dot{
  position: absolute;
  width: 15px;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 15px;
  border-radius: 50%;
  background: #6C8EC5 0% 0% no-repeat padding-box;
  @media only screen and (max-width: 600px) {
    top: 19%;      
    
          }};
  .dot-1st{
    position: absolute;
    width: 15px;
   top: 33%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 15px;
    border-radius: 50%;
    background: #6C8EC5 0% 0% no-repeat padding-box;
    @media only screen and (max-width: 600px) {
      top: 35%;      
      
            }};
    .dot-2nd{
      position: absolute;
      width: 15px;
     top: 64%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 15px;
      border-radius: 50%;
      background: #6C8EC5 0% 0% no-repeat padding-box;

     
    };
     
      .dot-3rd{
        position: absolute;
        width: 15px;
       top: 81%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 15px;
        border-radius: 50%;
        background: #6C8EC5 0% 0% no-repeat padding-box;
        @media only screen and (max-width: 600px) {
          top: 80.5%;      
          
                }};
        .dotis{
          @media only screen and (max-width: 768px) {
            left: 6%;
          }
      
        }
&::before{
  content: "";

border-left: 1.5px dashed #707070;

  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  display: block;
  z-index: -1;
  @media only screen and (max-width: 768px) {
  left: 6%;
border-left: 2.5px dashed #707070;

      }
}
.event{
  align-self: flex-end;
  width: 40%;

  @media only screen and (max-width: 768px) {
   
    width: 90%;
    margin-bottom: 70px;
    
      }
  &:nth-child(even){
    align-self: flex-start;
    .start{
      text-align: right;
      @media only screen and (max-width: 768px) {
        text-align: left;
      }
      
      // border: 1px solid red;
    }
    @media only screen and (max-width: 768px) {
     align-self: flex-end;
   
       }
    // border: 1px solid red;
  }
  
  
  .start{
    text-align: left;
font: normal normal 500 18px/31px $Montserrat;
letter-spacing: 0px;
color: #505050;
opacity: 1;
// margin-top: 30px;
  }
  
.title{

text-align: left;
font: normal normal 500 42px/55px $Montserrat;
letter-spacing: 0px;
color: #505050;
word-wrap: break-word;
opacity: 1;
margin-top: 9px;
@media only screen and (max-width: 600px) {
  font: normal normal 500 26px/55px $Montserrat;

}


}
.content{
  text-align: left;
font: normal normal normal 18px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
margin-top: 9px;

opacity: 1; 
@media only screen and (max-width: 600px) {
  font: normal normal normal 14px/30px $Montserrat;

}

}

}
}