// for navbar
.navbar{
    
    .outer{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10000;
        width: 100%;
        // border: 1px solid red;
    
height: 94px;
/* UI Properties */
// background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 1;
backdrop-filter: blur(24px);
-webkit-backdrop-filter: blur(24px);
padding: 30px 100px;
box-shadow: 0px 5px 9px -11px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 5px 9px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 9px -11px rgba(0,0,0,0.75);
@media only screen and (max-width: 1350px) {
//    display: none;
padding: 30px 30px;

  }
  @media only screen and (max-width: 992px) {
    display: none;

 
   }


.content{
    align-items: center;
    
    .logo{
        width: 180px;
        height: 35px;
    }
    .tabs{
        gap: 50px;
        @media only screen and (min-width: 992px) {
           gap: 20px;
        
         
           }
           @media only screen and (min-width: 1400px) {
            gap: 50px;
         
          
            }
        span{
            text-align: left;
font: normal normal normal 20px/24px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
cursor: pointer;
padding-bottom: 5px;

&.active{
    border-bottom: 4px solid #00B0F0 ;


}
        }
    }
    .btn-section{
        .btn-primary{
            background: $primaryColor 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
cursor: pointer;
padding: 10px;
width: 197px;

border: none;
text-align: center;
font: normal normal normal 16px/19px $Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
        }
    }
}
    }
    .responsive-navbar{
        padding: 20px 19px;
        display: flex;
       

        align-items: center;
        justify-content: space-between;
        @media only screen and (max-width: 992px) {
            padding-bottom: 5px;
        }
        .logo{
            img{
                height: 60px;
                @media only screen and (max-width: 600px) {
                   height: 40px;
                }

            }
        }
        .icon{
            img{
                width: 30px;
                cursor: pointer;
                // border: 1px solid red;
height: 30px;

            }
        }
        .overlay-menu{
            position: fixed;
            transition: all 3s ease-in-out;
            padding: 20px 15px;
            left: 0;
            top: 0;
            // width: 100vw;
            width: 100%;
            height: 100vh;
            z-index: 1000;
           
            // height: 100vh;
            // background: red ;
            // background: #FFFFFF 0% 0% no-repeat padding-box;
            opacity: 1;
            backdrop-filter: blur(20px);
            -webkit-backdrop-filter: blur(20px);
          

            .top{
                display: flex;
                justify-content: space-between;
                align-items: center;
              
                    img{
                        height: 50px;
        cursor: pointer;
        @media only screen and (max-width: 768px) {
            height: 30px;
           
         }
                    }
               

            }
            .menus{
                display: flex;
                // align-items: center;
                flex-direction: column;
                margin-top: 60px;
                
.menu-list{
    padding-left: 18px;
                    
    margin-bottom:48px;
    @media only screen and (max-width: 600px) {
        margin-bottom: 30px;
     }
}
                .menu-item{
                    
                   
                    text-align: left;
font: normal normal 600 20px/31px $Montserrat;
letter-spacing: 0px;
color: #505050;
opacity: 1;
&.active{
    border-bottom: 4px solid #00B0F0 ;

}
                }
                .signin{
                    background: #00B0F0 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;

text-align: center;
font: normal normal 500 16px/19px $Montserrat;
 width: 197px;

 padding: 20px 0;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
                }
            }
    //   &.slide{
    //       left: 0px;
    //   }
        }
    
        @media only screen and (min-width: 992px) {
            display: none;
        
         
           }
    }
}

// main section

.homePage{
    margin-top: 120px;
    display: flex;
    // align-items: center;
     @media only screen and (max-width: 992px) {
            margin-top: 0px !important;

        }
    gap: 20px;
    .leftContent-new{
        display: none;
        width: 50%;
        margin-left: 100px;
        // margin-top: 50px;
        
        .heading{
            text-align: left;
            font: normal normal 800 50px/71px "lovelace";
            letter-spacing: 0px;
            color: #2B2B2B;
            opacity: 1;
        }
        .textContent{
            text-align: left;
            font: normal normal normal 24px/35px $Montserrat;
            letter-spacing: 0px;
            color: #848484;
            opacity: 1;
            margin-top: 10px;
        }
        .btn-start{
            width: 264px;
            margin-top:40px;

        }
    }
    @media only screen and (max-width: 768px) {
        flex-direction: column;
        .leftContent{
            display: none;
           
        }
       
        .leftContent-new{
            display: block;
            width: 100%;
            // padding: 0 20px;
            margin-left: 16px;
            margin-right: 28px;
            padding-right: 20px;

        }
       
        .rightContent{
            width: 100% !important;
            padding: 20px 40px;
            padding-top: 0;
            // border: 1px solid red;
                   
    img:nth-child(1){
        height: 492px;
        object-fit: cover;
         width: 100%;
      
    }
    img:nth-child(2){
      
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
       


    }
            
        }
    
     
       }
       @media only screen and (max-width: 600px) {
           .leftContent-new{
               .heading{
                font: normal normal 800 24px/34px "lovelace";
               }
               .textContent{
                font: normal normal normal 16px/35px $Montserrat;
               }
           }

       }

    .leftContent{
        width: 50%;
        margin-left: 100px;
        margin-top: 50px;
        // @media only screen and (max-width: 992px) {
        //     margin-top: 10px !important;

        // }

        .heading{
            text-align: left;
            font: normal normal 800 50px/71px "lovelace";
            letter-spacing: 0px;
            color: #2B2B2B;
            opacity: 1;
        }
        .textContent{
            text-align: left;
            font: normal normal normal 24px/35px $Montserrat;
            letter-spacing: 0px;
            color: #848484;
            opacity: 1;
            margin-top: 10px;
        }
        .btn-start{
            width: 264px;
            margin-top:40px;

        }
    }
    .rightContent{
        width: 50%;
        position: relative;

        
    img:nth-child(1){
        height: 492px;
        object-fit: cover;
         width: 100%;
      
    }
    img:nth-child(2){
      
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100px;
        height: 100px;
    }
    }
    
}

// how section starts here
.how-section{
    margin-top: 100px;
    background-color: #F3F4FD;
    padding:50px 30px  50px 100px;
    position: relative;
    @media only screen and (max-width: 768px) {
       padding-left: 16px;
       padding-right: 16px;
    }
.how-name{
    display: flex;
    align-items: center;
    text-align: left;
font: normal normal 600 20px/31px $Montserrat;
letter-spacing: 0px;
color: #505050;
text-transform: uppercase;
opacity: 1;
@media only screen and (max-width: 600px) {
    font: normal normal 600 16px/31px $Montserrat;
   
 }
    &::before{
        content: "";
        width: 51px;
        height: 0px;
        border: 1px solid black;
        display: inline-block;
        margin-right: 8.5px;
    }
}
.text-content{
    text-align: left;
    font: normal normal bold 33px/65px "lovelace";
    letter-spacing: 0px;
color: #505050;
margin-top: 20px;
width: 60%;
@media only screen and (max-width: 768px) {
    width: 100%;
    // font: normal normal bold 24px/47px "lovelace";

}
@media only screen and (max-width: 600px) {
    // width: 100%;
    font: normal normal bold 24px/47px "lovelace";

}
}
.koiFish{
    position: absolute;
    right: 30px;
    top: -190px;
    width:300px;
    object-fit: cover;
    height: 600px;
    @media only screen and (max-width: 768px) {
        display: none;
    }

}
.core-points{
    margin-top: 40px;
    display: flex;
    gap:50px;
    @media only screen and (max-width: 768px) {
       flex-direction: column;
    }

    
    .left-content{
        width: 40%;
        @media only screen and (max-width: 768px) {
            width: 100%;
            display: flex;
            align-items: center;
            // justify-content: space-between;
            gap: 45px;
            flex-wrap: wrap;

        }
        .point{
            height: 200px;
        
            display: flex;
            align-items: center;
            gap: 30px;
            cursor: pointer;
            @media only screen and (max-width: 1050px) {
                height: auto;
 
             }
            @media only screen and (max-width: 600px) {
               flex-direction: column;
               gap: 5px;
               align-items: flex-start;
               height: auto;
        
               width: 200px;

            }
            
            &.active{
                @media only screen and (max-width: 600px) {
                    border-bottom: 4px solid #00B0F0;
                }

                &::before{
                    content: "";
                    width: 8px !important;
                    height: 100%;
                    // background: #D0C9CB 0% 0% no-repeat padding-box;
                    background: #00B0F0 0% 0% no-repeat padding-box;
                    display: inline-block;
                    @media only screen and (max-width: 600px) {
                    display: none;}

                }
            }
            &::before{
                content: "";
                width: 8px !important;
                height: 100%;
                background: #D0C9CB 0% 0% no-repeat padding-box;
                                // background: #00B0F0 0% 0% no-repeat padding-box;
                display: inline-block;
                @media only screen and (max-width: 600px) {
                display: none;}

            }
            .number
            {
                text-align: left;
                font: normal normal bold 33px/53px $Montserrat;
                letter-spacing: 0px;
                color: #BFBFBF;
                opacity: 1;
              


                &.active{
                
                color: #00B0F0;
              
                
                }
            }
            .text-content-point{
                text-align: left;
font: normal normal bold 33px/48px $Montserrat;
letter-spacing: 0px;
color: #BFBFBF;
padding: 20px 10px;
width: 100%;
@media only screen and (max-width: 768px) {
    padding-bottom: 5px;
    

}
@media only screen and (max-width: 600px) {

    font: normal normal bold 16px/22px $Montserrat;
    }

&.active{
   
color: #505050;

}
            }
        }

    }
    .right-content{
        width: 40%;
        position: relative;
        @media only screen and (max-width: 768px) {
        width: 100%;
    
    }

        .number{
            text-align: left;
            font: normal normal bold 60px/55px $Montserrat;
            letter-spacing: 0px;
            color: #00B0F0;
            opacity: 1;
        }
        .text{
            text-align: left;
font: normal normal normal 18px/48px $Montserrat;
letter-spacing: 0px;
margin-top: 15px;
color: #505050;
opacity: 1;
@media only screen and (max-width: 600px) {
    font: normal normal normal 16px/35px $Montserrat;

}

        }
        img{
            // position: absolute;
            object-fit: contain;
            // bottom: 0;
            margin-top: 30px;
            // right: 0;
            // border: 1px solid red;
            width: 100%;
            // height: 430px;

        }

    }
}
}
// features
.features{

        margin-top: 50px;
        // background-color: #F3F4FD;
        padding:50px 150px  50px 100px;
        padding-right: 16px;
        padding-left: 0px;
        position: relative;
        .how-name{
            display: flex;
            align-items: center;
            text-align: left;
        font: normal normal 600 20px/31px $Montserrat;
        letter-spacing: 0px;
        color: #505050;
        text-transform: uppercase;
        opacity: 1;
        // padding:50px 150px  50px 150px;
padding-left: 100px;
padding-right: 150px;
@media only screen and (max-width: 768px) {
    padding: 0 16px;
}
            &::before{
                content: "";
                width: 51px;
                height: 0px;
                border: 1px solid black;
                display: inline-block;
                margin-right: 8.5px;
            }
        }
        .text-top{
            display: flex;
            gap:20px;
            padding-left: 100px;
padding-right: 150px;
            @media only screen and (max-width: 768px) {
                flex-direction: column;
                padding: 0 16px;


            }
            .text-content{
                text-align: left;
            font: normal normal bold 40px/63px "lovelace";
            letter-spacing: 0px;
            color: #505050;
            margin-top: 20px;
            width: 100%;
            @media only screen and (max-width: 600px) {
                font: normal normal normal 30px/25px "lovelace";
            }
            }
            .text-content-right{
                text-align: left;
font: normal normal normal 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
width: 100%;

opacity: 1;
@media only screen and (max-width: 600px) {
    font: normal normal normal 16px/35px $Montserrat;
}

            }

        }
        .details{
margin-top: 60px;
display: flex;
gap: 20px;
padding-left: 100px;

justify-content: center;
@media only screen and (max-width: 768px) {
flex-direction: column;
padding: 0 16px;

}
.container{
    width: 305px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 40px;
        width: 100%;


    }

    .number{
        text-align: left;
        font: normal normal normal 18px/31px $Montserrat;
        letter-spacing: 0px;
        color: #505050;
        opacity: 1;
    }
    .heading{
        text-align: left;
font: normal normal 600 26px/31px $Montserrat;
letter-spacing: 0px;
color: #505050;
opacity: 1;
margin-top: 20px;

    }
    .text{
        text-align: left;
font: normal normal normal 18px/33px $Montserrat;
letter-spacing: 0px;
color: #505050;
opacity: 1;
margin-top: 20px;

    }
    img{

    }
}
        }

}
// tstimonials section
.testimonials{
    padding:0 16px;
    position: relative;
   .how-name, .msg-client{
    @media only screen and (max-width: 768px) {
        text-align: left !important;
        justify-content: left !important;
    }
   }
    
    .sliderContainer{
        border: 1px solid red;
        // width: 60%;
        outline: 1px solid red;
        
    }
    @media only screen and (max-width: 768px) {
    
    .greenDot,.yellowDot, .person-1, .person-2, .person-3, .orangeDot{
        display: none;

    }
    }
.greenDot{
position: absolute;
top: 60px;
right: 150px;
width: 40px;
height: 40px;
object-fit: cover;

}

.yellowDot{
    position: absolute;
    top: 180px;
right: 100px;
width: 40px;
height: 40px;
object-fit: cover;



}
.person-1{
    position: absolute;
top: 60px;
width: 78px;
height: 78px;
right: 10px;


}
.person-3{
    position: absolute;
width: 70px;
height: 70px;
top: 180px;
right: 200px;


}
.person-2{
position: absolute;
left: 100px;

top: 100px;
width: 124px;
height: 124px;

// // right: 400px;


    
}
.orangeDot{
position: absolute;
left: 40px;
width: 40px;
height: 40px;
object-fit: cover;

top: 90px;
}
    .how-name{
        display: flex;
        align-items: center;
        justify-content: center;
    font: normal normal 600 20px/31px $Montserrat;
    letter-spacing: 0px;
    color: #505050;
    text-transform: uppercase;
    opacity: 1;
        &::before{
            content: "";
            width: 51px;
            height: 0px;
            border: 1px solid black;
            display: inline-block;
            margin-right: 8.5px;
        }
    }
    .msg-client{
        text-align: center;
font: normal normal normal 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
margin-top: 20px;
    }
}
.footer{
    background: url("/static/Images/footer.png");
    // background: ;
    background-position: fixed;
    background-size: cover;
background-repeat: no-repeat;
padding: 20px 100px 20px 100px;
@media only screen and (max-width: 768px) {
    //    display: none;
   padding-left: 16px;
   padding-right: 16px;
   padding-top: 100px;
   padding-bottom: 40px;
    
      }
// height: 800px;
justify-content: space-between;
display: flex;
gap: 100px;
@media only screen and (max-width: 768px) {
   display: block;
   .main{
       width: 100% !important;
   }
    
      }
.left-main{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img{
        object-fit: cover;
        width: 221px;
height: 44px;
    }
    .content{
        margin-top: 30px;
        text-align: left;
font: normal normal normal 20px/26px $Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
        span{
            display: block;
        }
    }
}
.main{
    width: 50%;
    .info{

        text-align: left;
        font: normal normal 800 32px/69px "lovelace";
        letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top: 30px;
position: relative;
@media only screen and (max-width: 600px) {
    
    font: normal normal 800 28px/38px "lovelace";

}

&::before{
    content:"";
    position: absolute;
    
    background: #00B0F0 0% 0% no-repeat padding-box;
opacity: 1;
left: -25px;
top: 0;
width: 8px;
height: 100%;


}
    }
    .info-1{
        text-align: left;
font: normal normal normal 20px/20px $Montserrat;
letter-spacing: 0px;
color: #EFEFEF;
opacity: 1;
margin-top: 15px;
    }
    button{
        border: 0.5px solid #FFFFFF;
border-radius: 10px;
opacity: 1;
text-align: center;
font: normal normal medium 16px/10px $Montserrat;
letter-spacing: 0px;
margin-top: 40px;
color: #FFFFFF;
background: transparent;
opacity: 1;
width: 264px;
height: 45px;

    }
    .menu-section{
        display: flex;
        flex-direction: column;
     margin-top: 5px;
        align-items: flex-end;
        @media only screen and (max-width: 768px) {
            align-items: flex-start;
        }

        
        span{
            text-align: right;
font: normal normal medium 18px/31px $Montserrat;
letter-spacing: 0px;
text-transform: uppercase;
color: #FFFFFF;
opacity: 1;
margin-top: 10px;
        }
    }
    .faq{
        margin-top: 60px;
        text-align: left;
font: normal normal 600 20px/24px $Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
display: flex;
        flex-direction: column;
    //  margin-top: 14px;
        align-items: flex-end;
        @media only screen and (max-width: 768px) {
align-items: flex-start;
        }
    }
    .limited{
        margin-top: 15px;
        text-align: left;
font: normal normal normal 20px/24px $Montserrat;
letter-spacing: 0px;
color: #EFEFEF;
opacity: 1;
display: flex;
        flex-direction: column;
    //  margin-top: 14px;
        align-items: flex-end;
    }
}
.left-main{
    width: 50%;
    @media only screen and (max-width: 768px) {
      width: 100%;
                }
}
}

// arrow right 
.cover{
    width: 50px;
    height: 50px;
    border: 1px solid #BFBFBF;
opacity: 1;
position: relative;
margin-top: 4px;
border-radius: 50%;
.arrowRight{
    width: 20px;
    position: absolute;
    top: 50%;
    object-fit: cover;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 14px;

}
}

// review
.reviewInfo{
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 10px 10px 60px #00000014;
opacity: 1;
padding:20px 10px;
width: 370px !important;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 0px 60px #00000014;
opacity: 1;
margin-bottom: 20px;
cursor: pointer;

.quote{
    width: 30px;
    height: 30px;
}
.text{
    text-align: left;
font: normal normal normal 22px/33px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
padding: 0 10px;
margin-top: 10px;
}
.detailPerson{
    display: flex;
    align-items: center;
    // gap: 5px;
    .person{
        width: 91px;
        height: 91px;
    }
    .textDetail{
        .name{
            text-align: left;
            font: normal normal medium 26px/31px Montserrat;
            letter-spacing: 0px;
            color: #505050;
            opacity: 1; 
        }
        .position{
            text-align: left;
            font: normal normal medium 18px/23px Montserrat;
            letter-spacing: 0px;
            color: #848484;
            opacity: 1;
        }
    }
}

}

.reviewSection{
    padding-bottom: 180px;
    margin-top: 150px;
   
}
// center mode slide 
.slick-slide .reviewInfo{
    background: #F2F2F2 0% 0% no-repeat padding-box;
    opacity: 0.6;

}
.slick-center .reviewInfo {
    transform: scale(1.1);
    background: white;
    opacity: 1;
}

.inner-bullets-new{
    display: flex;
    // align-items: center;
    // justify-content: space-between;
    // flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    // justify-content: center;
    
   
    img{
        width: 15px !important;
        height: 15px;
        margin: 0 !important;
        margin-top: 18px !important; 
        // display: flex;
        // align-items: center;
        // justify-content: center;
    }
   

}