.solutionCover{
    padding-left: 150px;
    padding-top: 150px;
    display: flex;
    background: linear-gradient(180deg, #D6D6D6 0%, rgba(255, 255, 255, 0) 100%);    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    align-items: center;
    background-origin: center;
    height: 100%;
    @media only screen and (max-width: 768px) {
        padding: 0 16px;
        flex-direction: column;
    }
    img{
        width: 100%;
        object-fit: contain;
    }
    .left{
width: 50%;
@media only screen and (max-width: 768px) {
   width: 100%;
}
.text{
    text-align: left;
    font: normal normal bold 40px/82px "lovelace";
        letter-spacing: 0px;
    color: #505050;
}
.title{
    text-align: left;
    font: normal normal 500 18px/31px $Montserrat;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}
    }
    .right-small{
        display: none;
        @media only screen and (max-width: 768px) {
            display: block;
         }
    }
    .right{
        width: 50%;
        @media only screen and (max-width: 768px) {
           display: none;
        }

    }
}
.addressingProblem{
    margin-top: 100px !important;
   

    @media only screen and (max-width: 768px) {
        padding-left: 16px;
        padding-right: 16px;
     }
    // background: #2E4365 0% 0% no-repeat padding-box;
    .how-name{
        // margin: auto;
      text-align: center;
    //   display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    &::before{
        border: 1px solid white;
    }

    }
    .text-content{
        color: #505050;
        font-family: "lovelace";
        margin: auto;
      text-align: center;

    }
    .animationsection{
        margin-top: 100px;
        // display: flex;
        position: relative;
        width: 100%;
        padding: 10px;
  
       height: 100%;
       height: 650px;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        justify-content: space-between;
        @media only screen and (min-width: 992px) {
            .idx-left-new{display: none !important;}
        }

        @media only screen and (max-width: 992px) {
            .idx-right{
border-radius: 0px 60px !important;

            }
            height: 100% ;
            .text{
                margin-bottom: 30px !important;
                height: 100% !important;
                background: transparent linear-gradient(108deg, #FFFFFF 0%, #F3F3F3 100%) 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 40px #4BA3F133;
opacity: 1;
padding: 18px 14px;
            }
           .left{
               float: none !important;
               width: 100% !important;
               .text{
            .content{
               
            }
            .idx-left-new{
                display: flex !important;
              }
            .idx-left{
              display: none !important;
            }
               }
           }
           .right{
               float: none !important;
               width: 100% !important;

           }
            .middle{
                display: none !important;
            }
         }
        // @media only screen and (max-width: 768px) {
        //     flex-direction: column;
        //  }
        .text{
            display: flex;
            gap:20px;
            align-items: center;
            margin-bottom: 100px;
            height: 150px;
            cursor: pointer;
            @media only screen and (max-width: 1100px) {
               height: 200px;
               gap: 30px;
              }
            @media only screen and (max-width: 768px) {
               margin-bottom: 50px;
               height: auto;
             }
        //     &:hover{
        //         .idx{
        // color: #00B0F0;


        //         }
        //         .content{
        //             color: #FFFFFF;

        //         }
        //     }

            
.idx{
    text-align: left;
    font: normal normal 500 60px/41px $Montserrat;
    letter-spacing: 0px;
    color: #848484;
    opacity: 1;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    // &:hover{
    //     color: #00B0F0;


    // }
}
.idx-left,.idx-right, .idx-left-new{
    // width: 136px;
    padding: 20px;
height: 138px;
background: #00B0F0 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 40px #0000000D;
border-radius: 0px 60px;
text-align: center;
opacity: 1;
letter-spacing: 0px;

}
.idx-right{
    border-radius: 60px 0px;

}
.content{
    text-align: left;
    // font: normal normal 500 26px/31px $Montserrat;
    font: normal normal 500 24px/31px $Montserrat;
    letter-spacing: 0px;
    color: #848484;
    opacity: 1;
    // &:hover{
    //     color: #FFFFFF;

    // }
}
        }

        .left{
            width: 35%;
            @media only screen and (max-width: 768px) {
                width: 100%;
             }
             position: relative;
             float: left;
        }
       
        .right{
            width: 35%;
            @media only screen and (max-width: 768px) {
                width: 100%;
             }
             position: relative;
             float: right;
        }
        .middle{
            display: flex;
            align-items: center;
            height: 650px;
        //    width: 450px;

            // height: 100%;
            justify-content: center;
            .content{
           display: flex;
           align-items: center;
        //    height: 650px;
           justify-content: center;
           width: 450px;
           height: 450px;
           position: relative;
         
           background: #00B0F0 0% 0% no-repeat padding-box;
           box-shadow: 0px 3px 79px #00000029;
           border: 10px solid #FFFFFF;
           opacity: 0.9;
           border-radius: 50%;
           @media only screen and (max-width: 1350px) {
            width: 400px;
            height: 400px;
           }
           @media only screen and (max-width: 1200px) {
            width: 300px;
            height: 300px;
           }
            
            
        .textIs{
            align-self: flex-end;
            margin-bottom: 30px;
            text-align: center;
font: normal normal 500 18px/30px $Montserrat;
letter-spacing: 0px;
color: #FFFFFF;

        }}
           .inner-content{
               position: absolute;
               top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 172px;
height: 172px;

background: #EFEFEF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 36px #00000029;
border: 5px solid #00B0F0;
border-radius: 50%;
opacity: 1;
display: flex;
align-items: center;
justify-content: center;
img{
    width: 70px;
height: 70px;
}
           }
          
        }

    }
}
.help-section{
 
    // height: 1000px;
    padding: 50px 200px;
    position: relative;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    @media only screen and (max-width: 768px) {
       padding: 50px 16px;
     }
    .how-name{
        // margin: auto;
      text-align: center;
    //   display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    // color: #FFFFFF;
    &::before{
        // border: 1px solid white;
    }

    }
    .text-content{
        // color: #FFFFFF;
font-family: "lovelace";
        margin: auto;
      text-align: center;

    }
.text-content-1{
    text-align: center;
font: normal normal normal 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
margin-top: 40px;
}
.cards{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // background:red !important;
    height: 100%;
    padding: 100px 0;
    @media only screen and (max-width: 768px) {
        flex-flow: wrap;
        gap: 30px;

    }
    
  
    .card{
width: 400px;
height: 400px;
transform: rotate(45deg);
box-shadow: -16px 3px 40px #0000001A;
border-radius: 20px;
padding: 15px;
padding-right: 20px;
display: flex;
padding-bottom: 50px;
// position: absolute;
bottom: 100px;
@media only screen and (max-width: 768px) {
    transform: rotate(0deg);
    width: 415px;
height: 231px;
 }
&:hover{
    &.card-1{
    
// left: 0%;
// position: relative;

    }
    &.card-2{
// left: 50%;
// position: relative;


    }
    &.card-3{
// right: 0%;
// position: relative;

    }

}
// transform: translateX(-50%);
.text{
align-self: flex-end;
.title{
    text-align: left;
    font: normal normal 500 26px/31px $Montserrat;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
}
.text{
    text-align: left;
font: normal normal 500 20px/34px $Montserrat;
letter-spacing: 0px;
margin-top: 10px;
color: #FFFFFF;
opacity: 1;
@media only screen and (max-width: 768px) {
    font: normal normal 500 13px/27px $Montserrat;
}

}
}

    }
    .card-1{
        background:#65E979;
left: 40%;

    }
    .card-2{
        background:#FF8C40;
left: 43%;

    }.card-3{
        background:#FFCC00;
left: 45%;

    }
}
}

// key mission
.key-mission
{
 
    padding: 140px;
    @media only screen and (max-width: 768px) {
        padding: 100px 16px;
    }
    .text-content{
font-family: "lovelace";

    }
    .how-name,.text-content,.text-content-1{
        padding: 20px;
        
    }
    .text-content-1{
//         text-align: left;
// font: normal normal normal 24px/35px $Montserrat;
// letter-spacing: 0px;
color: #848484;
opacity: 1;
text-align: left;
font: normal normal 500 24px/35px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
    }
    .cards-section{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:10px;
        @media only screen and (max-width: 1000px) {
            flex-direction: column;
        }
        .card{
            background: #F2F2F2 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
padding: 20px;
height: 543px;
position: relative;
width: 33.33%;
@media only screen and (max-width:1000px) {
    width: 100%;
    height: 400px;
}
@media only screen and (max-width:500px) {
    width: 100%;
    height: 500px;
}
            .title{
                text-align: left;
                font: normal normal 500 26px/31px $Montserrat;
                letter-spacing: 0px;
                color: #505050;
                opacity: 1;
            }
            .content{
                text-align: left;
                font: normal normal normal 20px/33px $Montserrat;
                letter-spacing: 0px;
                color: #848484;
                opacity: 1;
                margin-top: 20px;
            }
            img{
                object-fit: contain;

                &.man{
                   
                        position: absolute;
                        bottom: 0;
                        right: 20px;
                        width: 260px;
                        height: 260px;
                        z-index: 5;
                        &.man-3{
                            bottom: -58px;
                        }
                        &.man-1{
                            bottom: -15px;
                        }
                }
                &.bg{
position: absolute;
bottom: 0;
right: 0;
width: 200px;
z-index: 3;;
height: 200px;
&.bg-1{
    right: 40px;
}
&.bg-3{
    right: 30px;
}
                }
            }
        }
    }
}

.wave-section{
    padding-top: 50px;
    .text-content{
        @media only screen and (max-width:768px) {
            width: 100%;
            
        }
    }
    .img-container{
        display: block;
        position: relative;
        width: 100%;
        margin-top: 100px;

        .wave{
           
            margin: auto;
            width: 100%;
            display: block;
            object-fit: contain;
            height: 500px;
            object-fit: cover;
        }
        .hands{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

    }
.algorithm{
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 8px 55px #0000000D;
border-radius: 20px;
opacity: 1;
padding: 60px 20px 20px 20px;
// width: 400px;
@media only screen and (max-width:1000px) {
    width: 100%;
    // height: 400px;
}
.title{
    text-align: left;
font: normal normal medium 28px/36px "lovelace";
letter-spacing: 0px;
color: #505050;
opacity: 1;
}
.content{
    text-align: left;
font: normal normal normal 16px/21px $Montserrat;
letter-spacing: 0px;
color: #848484;
opacity: 1;
margin-top: 10px;
}
}

}
.culture-section{
    padding-bottom: 50px;
    display: flex;
    align-items: center;
    padding-left: 200px;
    padding-top: 100px;
    @media only screen and (max-width:768px) {
        padding: 0 16px;
    padding-top: 100px;
    padding-bottom: 50px;
    flex-direction: column;


    }

background: #F3F4FD 0% 0% no-repeat padding-box;
    gap: 20px;
// padding-right: ;
    justify-content: space-between;
    .left{
width: 40%;
@media only screen and (max-width:768px) {
    width: 100%;
}
.text-content{
    font-family: "lovelace";
}

.text-content-1{
    margin-top: 20px;
    color: #848484;
opacity: 1;
}
    }
.right{


width: 60%;

@media only screen and (max-width:768px) {
    width: 100%;
}
img{
    width: 100%;

    object-fit: contain;
}
    }
}
.know-more{
    margin-top: 20px;
    text-align: center;
font: normal normal 500 16px/19px $Montserrat;
letter-spacing: 0px;
color: #00B0F0;
opacity: 1;
padding: 15px;
width: 264px;

border: 0.5px solid #00B0F0;
border-radius: 10px;
opacity: 1;
}