.solutionCover{
    padding-left: 150px;
    padding-top: 150px;
    display: flex;
    .left{
width: 50%;
.text{
    text-align: left;
    font: normal normal bold 40px/82px $Montserrat;
    letter-spacing: 0px;
    color: #505050;
}
.title{
    text-align: left;
    font: normal normal 500 18px/31px $Montserrat;
    letter-spacing: 0px;
    color: #505050;
    opacity: 1;
    margin-top: 30px;
    margin-bottom: 30px;
}
    }
    .right{
        width: 50%;

    }
}
.addressingProblem{
    padding:100px 120px;
    background: #2E4365 0% 0% no-repeat padding-box;
    .how-name{
        // margin: auto;
      text-align: center;
    //   display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    &::before{
        border: 1px solid white;
    }

    }
    .text-content{
        color: #FFFFFF;

        margin: auto;
      text-align: center;

    }
    .animationsection{
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        .text{
            display: flex;
            gap:20px;
            align-items: center;
            margin-bottom: 100px;
            height: 150px;

            
.idx{
    text-align: left;
    font: normal normal 500 81px/97px $Montserrat;
    letter-spacing: 0px;
    color: #848484;
    opacity: 1;
    margin-right: 10px;
}
.content{
    text-align: left;
    font: normal normal 500 26px/31px $Montserrat;
    letter-spacing: 0px;
    color: #848484;
    opacity: 1;
}
        }

        .left{
            width: 35%;
        }
        .middle{
            width: 400px;
            background: #2E4365 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 79px #00000029;
border: 1px solid #00B0F0;
opacity: 1;
height: 400px;
border-radius: 50%;
.inner-circle{
    width: 180px;
height: 180px;
display: flex;
align-items: center;
justify-content: center;
transform: matrix(0.21, 0.98, -0.98, 0.21, 0, 0);
border: 9px dashed #2E4365;
opacity: 0;
.inner-inner-circle{
    padding:10px;
    width: 100px;
    height: 100px;
    color: white;
    z-index: 1000;

}
}
        }
        .right{
            width: 35%;
        }

    }
}